  <h1>Create a new Lesson</h1>

<%= simple_form_for @lesson, :url => {:action => 'create'}, :method => 'post', :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :name, label: 'Lesson Name'  %>
  <%= f.input :main_headline, label: 'Main Headline', as: :text, input_html: { rows: "3" } %>
  <%= f.input :weekly_tagline, label: 'Weekly Tagline', as: :text, input_html: { rows: "3" } %>  
  
  <%= f.input :first_ressource_headline, label: 'First Ressource Headline' %>
  <%= f.input :first_ressource_text, label: 'Description', as: :text, input_html: { rows: "3" } %>
  <%= f.input :second_ressource_headline, label: 'Second Ressource Headline' %>
  <%= f.input :second_ressource_text, label: 'Description', as: :text, input_html: { rows: "3" } %>
  <%= f.input :third_ressource_headline, label: 'Third Ressource Headline' %>
  <%= f.input :third_ressource_text, label: 'Description', as: :text, input_html: { rows: "3" } %>
  <%= f.input :fourth_ressource_headline, label: 'Fourth Ressource Headline' %>
  <%= f.input :fourth_ressource_text, label: 'Description', as: :text, input_html: { rows: "3" } %>
  <%= f.input :fifth_ressource_headline, label: 'Fifth Ressource Headline' %>
  <%= f.input :fifth_ressource_text, label: 'Description', as: :text, input_html: { rows: "3" } %>
  
  <%= f.input :curator_name, label: 'Name of weekly Curator' %>
  <%= f.input :curator_description, label: 'Bio of weekly curator', as: :text, input_html: { rows: "3" } %>
  <%= f.button :submit, class: "btn btn-primary", value: "Create Lesson" %>
<% end %>
